<p>This system attempts to present a <em>preliminary and crude</em>
  proof of concept for a <em>retieval-augmented-generation
    pipeline</em>.</p>

<p>This means: This system presents a <em>Large Language Model</em>
  trained
  with <a href="https://manpages.debian.org/bookworm/manpages/intro.1.en.html">section
  1 of all of the manual pages</a> shipped by Debian. This means, you
  can query this system for how to achieve <em>something</em> by using
  Debian commands, and it should provide relevant manual pages.</p>

<h3>So... What is your question?</h3>

<form method="post" action="query">
  <p><input name="query" type="text" /></p>
  <p><input type="submit" value="Submit!" /></p>
</form>
